{% extends 'base.html.twig' %}

{% block title %}New Producto{% endblock %}

{% block body %}
<div class="container">
<body style="background-color:#483D8B;">
       
        <h1 class="text-center mt-5 mb-3"><font color="white">New Producto</font></h1>
        <div class="card">
        <div class="card-header">
        <center>
         <center><img src="{{ asset('super.png') }}" alt="Symfony!"/> </center>
    {{ include('producto/_form.html.twig') }}

    <a class="btn btn-outline-info float-right" href="{{ path('app_producto_index') }}">back to list</a>
    </div>
    </div>
     </div>
     <center>
     </body>
{% endblock %}



