{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}

{% block body %}
<div class="container">
 <body style="background-color:#483D8B;">
 <h1 class="text-center mt-5 mb-3"><font color="white">Create new Ticket</font></h1>
    <div class="card">
        <div class="card-header">
        <center>
         <center><img src="{{ asset('super.png') }}" alt="Symfony!"/> </center>

    {{ include('ticket/_form.html.twig') }}

    <a class="btn btn-outline-info float-right" href="{{ path('app_ticket_index') }}">back to list</a>
     </div>
     </div>
     </div>
     <center>
     </body>
{% endblock %}
